body{
	background:#111111;
	color:white;
}
#center{
	width:100%;
	margin-top:-25px;
}
td{
	padding:25px;
	background:#111111;
}
#logo_text{
	height:10px;
	font:24px impact;
	letter-spacing:3px;
}

#menu a{
	font:bold 20px tahoma;
	display:block;
	margin-bottom:8px;
	text-decoration:none;
	color:#909090;
}
#menu a:hover{
	color:#ffffff;
}
#menu a.action{
	color:#ffffff;
}
.foto_car img{
	width:100%;
}